<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="icon" type="image/x-icon" href="img/Ray2.jpg" />
  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<body>
  <h1>Productos <%=modelo.length%></h1>
  <div class="table">
    <table border>
          <tr>
            <th><a href="/add"><img src="/img/add.png" id='add'></a></th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Precio</th>
            <th>Calidad</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>ID</th>
           
          </tr>
          <%for(const producto of modelo){%>
            <tr>
            <td class="icon">
                <a href="/update/<%= producto.producto_id%>"><img src="/img/update.png" width="30"></a>
                <a href="/delete/<%= producto.producto_id%>"><img src="/img/delete.png" width="30" id="delete"></a>
                <a href="/addImagen/<%= producto.producto_id%>"><img src="/img/img.png" width="30"></a>
             </td>
              <td><%=producto.nombre%></td>
              <td><%=producto.codigo%></td>
              <td><%=producto.precio%></td>
              <td><%=producto.descripcion%></td>
              <td><%=producto.calidad%></td>
              <td><%=producto.cantidad%></td>
              <td><%=producto.producto_id%></td>

            </tr>
           <%}%>
        </table>
       
  </div>
  <div class="yona">
    <a href="/logout2" id='botonProductos'>Cerrar</a>
  <a href="/usuarios" id='botonProductos'>Users</a>
  <a href="/compras" id='botonProductos'>Compras</a>
  <a href="/productos" id='botonProductos'>Productos</a>
  <a href='/categorias' id='botonProductos'>Categorias</a>
  </div>

</body>
</html>
